* {
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(0, 0, 0);
}

body {
  margin: 0;
}
.navbar-nav .nav-item .nav-link.active {
  background-color: #007bff; /* Change the background color as needed */
  color: #ffffff; /* Change the text color as needed */
}

img {
  max-width: 100%;
  height: 300px;
}

p {
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
  color: #2c2c2c;

  &.small {
    font-size: 16px;
  }
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #739072;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  transition: 3s;
  top: 0px;
  overflow: hidden;
  margin: 1rem;
  text-decoration: none !important;
  border: none !important;
  .go-corner {
    opacity: 0.7;
  }

  &:hover {
    box-shadow: 0px 0px 999px 999px rgba(37, 36, 36, 0.284);
    z-index: 500;
  }
}

a {
  text-decoration: none;
}
.navbar {
  background-color: #607274;
}

input.search-query {
  background: #ded0b6;
}
.wrapper {
  margin-top: 5rem !important;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}
