<!DOCTYPE html>
<html>
  <head>
    <title>Joke Generator</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2 class="card-title">Joke of the Day</h2>
      <div class="card">
        <div class="card-body">
          <p class="card-text" id="joke-text">Loading...</p>
          <button id="refresh-button" class="btn btn-primary">
            Refresh Joke
          </button>
        </div>
      </div>
    </div>
  </body>
  <script src="/client.js"></script>
</html>
